# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/

# IDE Specific directories
.DS_Store
.idea
.vscode/

# Data Files and ByteCode files
*.gz
*.npz
